# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
build/
dist/

# Virtualenvs
venv/
.env/
.venv/

# Logs & runtime
*.log
*.log.*
*.tmp
*.pid

# Editors/IDEs
.vscode/
.idea/
*.swp

# Backups
*.bak

# Optional: ignore local config (ONLY if you want)
# config.json
