# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.build/
dist/
build/

# Virtualenvs
venv/
.env/
.venv/

# Logs & runtime
*.log
*.tmp
*.pid

# Editors/IDEs
.vscode/
.idea/
*.swp

# Local config copies
config.toml
